ExtractWebLinks/Config.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="settings">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Links">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="link">
                <xs:complexType>
                  <xs:attribute name="url" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Rules">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Rule">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ExcludeTitleRules">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Rule">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ExcludeUrlRules">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Rule">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="maxdeep" type="xs:unsignedByte" use="required" />
      <xs:attribute name="outputfilename" type="xs:string" use="required" />
      <xs:attribute name="xpath" type="xs:string" use="optional" />
      <xs:attribute name="urltransform" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>